<ion-content class="ion-padding">
    <ion-title class="ion-text-center"><strong>Bienvenidos</strong> </ion-title>
    <ion-title class="ion-text-center"><strong>BiciRutas</strong></ion-title>

    <ion-content class="ion-text-center ">
        <p>
            <ion-button fill="outline" size="large" routerLink="/registrar">Registrate</ion-button>
        </p>
        <p>
            <ion-button color="danger" size="large" fill="outline" routerLink="/iniciar-seccion">Inciar secion</ion-button>
        </p>
    </ion-content>
</ion-content>